:root {
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

p, a, span, .attribution {
    font-family: 'Manrope', sans-serif;
}

.attribution {
    color: var(--LightCyan);
    font-size: 11px; text-align: center; 
    justify-self: flex-end;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.advice-ID {
    color: var(--NeonGreen);
}


#adviceContent {
    color: var(--LightCyan);
    font-size: 28px;
    font-weight: 800;
}

#adviceContent::before {
    content: open-quote;
}

#adviceContent::after {
    content: close-quote;
}

/* Button */
#randomAdviceBtn {
    background: url('./images/icon-dice.svg') center no-repeat;
    background-color: var(--NeonGreen);
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -30px;
}

#randomAdviceBtn:hover,
#randomAdviceBtn:focus {
    cursor: pointer;
    filter: brightness(130%);
}

#randomAdviceBtn:active {
    box-shadow: 0px 0px 20px 1px var(--NeonGreen);
}

#randomAdviceBtn:disabled {
    filter: brightness(50%);
    box-shadow: none;
}

.divider{
    background: url('./images/pattern-divider-mobile.svg') center no-repeat;
    width: 100%;
    height: 20px;
}


.adviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkGrayishBlue);
    border-radius: 10px;
    position: relative;
    padding: 30px 30px 50px;
    width: 75vw;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .adviceContainer{
        width: 40vw;
    }

    .divider{
        background: url('./images/pattern-divider-desktop.svg') center no-repeat;
    }
}
